@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);

    --Grayish-Blue-2: hsl(0, 0%, 62%);
    --Grayish-Blue: hsl(0, 0%, 94%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);

    --fs: 16px;

    --ff: "Rubik", sans-serif;

    --fw-light: 400;
    --fw-bolder: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs);
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 70em;
    margin: auto;
    padding-inline: 2em;
    /* background-color: green; */
}

button {
    text-transform: uppercase;
    color: white;
    background-color: var(--Soft-Red);
    border: 2px solid var(--Soft-Red);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: var(--Soft-Red);
}

.solid-blue-btn {
    background-color: var(--Soft-Blue);
    border-color: var(--Soft-Blue);
}

.solid-blue-btn:hover {
    background-color: transparent;
    color: var(--Soft-Blue);
}

.solid-grey-btn {
    background-color: var(--Grayish-Blue);
    border-color: var(--Grayish-Blue);
    color: var(--Very-Dark-Blue);
}

.solid-grey-btn:hover {
    background-color: transparent;
    border-color: var(--Very-Dark-Blue);
    color: var(--Very-Dark-Blue);
}

p {
    color: var(--Grayish-Blue-2);
    line-height: 1.5em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2em;
    color: var(--Very-Dark-Blue);
    font-weight: var(--fw-bolder);
}

/* HEADER STYLING */

header {
    padding: 3em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Very-Dark-Blue);
    letter-spacing: 2px;
    font-weight: var(--fw-light);
}

nav a:hover {
    color: var(--Soft-Red);
}

/* hero section */

.hero {
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    position: relative;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero h1 {
    font-size: 3em;
    font-weight: var(--fw-light);
}

.hero img {
    width: 100%;
    max-width: 600px;
    margin-right: -36px;
    z-index: 1;
}

.hero button {
    letter-spacing: unset;
    text-transform: capitalize;
    padding-block: 10px;
}

.hero .buttons {
    display: flex;
    gap: 1em;
}

.blue-bg-1 {
    width: 500px;
    height: 300px;
    background-color: var(--Soft-Blue);
    position: absolute;
    bottom: 0px;
    right: -200px;
    border-radius: 200px 0 0 200px;
    z-index: 0;
}

/* FEATURES STYLING */

.features {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-block: 8em;
    position: relative;
}

.features .text {
    text-align: center;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.features-courosal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.courosal-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 30px;
    border-bottom: 4px solid var(--Grayish-Blue);
}

.courosal-nav li:hover {
    color: var(--Soft-Red);
    cursor: pointer;
}

#active {
    border-color: var(--Soft-Red);
}

.courosal-content {
    display: flex;
    align-items: center;
    gap: 5em;
}

.courosal-content img {
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.courosal-text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
}

.courosal-text button {
    text-transform: capitalize;
    letter-spacing: unset;
}

.blue-bg-2 {
    width: 500px;
    height: 300px;
    background-color: var(--Soft-Blue);
    position: absolute;
    bottom: 70px;
    left: -200px;
    border-radius: 0 200px 200px 0;
    z-index: 0;
}


/* media querries */

@media (max-width: 950px) {

    button {
        font-size: 14px;
        padding: 10px 15px;
    }

    .hero {
        flex-direction: column-reverse;
        gap: unset;
    }

    .blue-bg-1 {
        width: 600px;
        height: 300px;
        top: 100px;

    }

    .hero img {
        margin-right: unset;
    }

    .blue-bg-1 {
        display: none;
    }

    .blue-bg-2 {
        display: none;
    }

    .hero .left {
        text-align: center;
        padding-inline: 2em;
    }

    .buttons {
        justify-content: center;
    }


    .courosal-nav li {
        display: block;
        width: 100%;
    }

    .features .text {
        width: 100%;
        padding-inline: 2em;
    }

    .courosal-content {
        flex-direction: column;
    }

    .courosal-text {
        text-align: center;
        align-items: center;
    }

    /* navigation */
    nav {
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    nav ul {
        flex-direction: column;
        gap: 2em;
        justify-content: space-between;
    }
}